# Dependencias
node_modules
.pnp
.pnp.js

# Testing
coverage

# Producción
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.cursorrules

# TypeScript
*.tsbuildinfo

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Sistemas operativos
Thumbs.db
.DS_Store
.directory

# Debug
.debug
debug.log

# Temporal
*.tmp
*.temp
.eslintcache
